﻿#restaurantInfo {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
}

#restaurantImage p {
    display: flex;
    flex-direction: column;
    margin: 0;
}

#restaurantDetails p {
    border: 10px solid rgb(79, 78, 136);
    padding: 1em 1em;
    margin: 0;
}

#restaurantInfo img {
    height: 250px;
    width: 250px;
}

#restaurantReview {
    padding: 0em 2em;
}

#reviews p {
    border: 10px solid rgb(79, 78, 136);
    padding: 1em 1em;
    margin: 0;
}

#reviews h5 {
    margin: 1em 2em 2em 1em;
}

#sampleProjects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 1em;
}


main {
    width: 80%;
    margin: 3em auto;
}

body {
    background-size: cover;
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    color: black;
    background-color: rgb(242,141,179);
    font: 16px/1.5 'Raleway', sans-serif;
}

span {
    text-align: center;
    color: rgb(242,141,179);
    background-color: rgb(79, 78, 136);
}

.container {
    display: grid;
    margin: 2rem auto 2rem auto;
    width: 1500px;
    background-color: aqua;
    opacity: 0.6;
}

img {
    width: 100px;
    align-content: center;
}

h1 {
    color: white;
    text-align: center;
    background-color: rgb(79, 78, 136);
}

h2 {
    color: rgb(242,141,179);
    text-align: center;
    background-color: rgb(79, 78, 136);
}

h3 {
    color: rgb(242,141,179);
    text-align: left;
    background-color: rgb(79, 78, 136);
}

h4 {
    color: rgb(242,141,179);
    text-align: center;
    background-color: rgb(79, 78, 136);
}

h5 {
    color: rgb(242,141,179);
    text-align: center;
    background-color: rgb(79, 78, 136);
}

h6 {
    color: rgb(242,141,179);
    text-align: center;
    background-color: rgb(79, 78, 136);
    font-size: 16px;
}

h7 {
    color: rgb(242,141,179);
    text-align: center;
    background-color: rgb(79, 78, 136);
}

h8 {
    color: rgb(242,141,179);
    text-align: center;
    background-color: rgb(79, 78, 136);
}

