@model RestaurantReview.Models.Restaurant
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Detals</title>
    <link rel="stylesheet" type="text/css" href="~/style/Homestyle.css" />
</head>
<body>

    <h1>Welcome to Restaurant Reviews!</h1>
    <section>
       
            <div id="restaurantInfo">
                <h3>@Model.Name</h3>
                <a href=@Model.LinkUrl target="_blank" alt="GridTestProject"
                   title=@Model.LinkDescription><img src=@Model.LinkImage id="project_item"></a>
                <p>@Model.Details</p>
            </div>
           
            <div id="restaurantReview">
                <h5>Reviews</h5>
                @foreach (var review in Model.Reviews)
                {
                    <article>

                        <h3>@review.Creator</h3>
                        <p>@review.Comment</p>

                    </article>
                }
                <a href="/Restaurant/Index/">Back to Main Listing</a>
            </div>

    </section>
</body>
</html>