@model RestaurantReview.Models.Restaurant
@{
    Layout = null;
}

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
    <link rel="stylesheet" type="text/css" href="~/style/Homestyle.css" />
</head>

<body>

    <h1>Welcome to Restaurant Reviews!</h1>
    <section>

        <div id="restaurantInfo">
            <h3>@Model.Name</h3>
            <a href=@Model.LinkUrl target="_blank" alt="GridTestProject"
               title="GridTestProject"><img src=@Model.LinkImage id="project_item"></a>>
            <p>@Model.Details</p>
        </div>
        <br>
        <a href="/Restaurant/Index/">Back to Main Listing</a>
        <br />
        <a href="/Review/CreateByRestaurantId/@Model.Id">Add a new review.</a>

        <div id="restaurantReview">
            <h3>Reviews</h3>
            @foreach (var review in Model.Reviews)
            {
                <article>

                    <h3>Reviewer: @review.Creator</h3>
                    <p>Reviewer Comments: @review.Comment</p>


                    <a href="/Review/Update/@review.Id">Edit review.</a>
                    <br />
                    <a href="/Review/Delete/@review.Id">Remove review.</a>

                </article>
            }

            <a href="/Review/CreateByRestaurantId/@Model.Id">Add a new review.</a>
            <br>
            <br>

            <br>
            <a href="/Restaurant/Index/">Back to Main Listing</a>
        </div>
    </section>
</body>
</html>
