@model RestaurantReview.Models.Restaurant
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
    <link rel="stylesheet" type="text/css" href="~/style/Homestyle.css" />
</head>
<body>

    <h1>Welcome to Restaurant Reviews!</h1>
    <section>

        <div id="restaurantInfo">
            <h3>@Model.Name</h3>
            <a href=@Model.LinkUrl target="_blank" alt="GridTestProject"
               title=@Model.LinkDescription><img src=@Model.LinkImage id="project_item"></a>
            <p>@Model.Details</p>
        </div>

        <div id="restaurantReview">
            <h3>Reviews</h3>
            <div id="reviews">

                @foreach (var review in Model.Reviews)
                {
                    <article>

                        <h5>@review.Creator</h5>
                        <p>@review.Comment</p>

                    </article>
                }
            </div>
            <a href="/Restaurant/Index/">Back to Main Listing</a>
        </div>

    </section>
</body>
</html>