@model RestaurantReview.Models.Restaurant
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Detals</title>
    <link rel="stylesheet" type="text/css" href="~/style/Homestyle.css"/>
</head>
<body>

    <h1>Welcome to Restaurant Reviews!</h1>
    <section>
        <div id="sampleProjects">


            <h3>@Model.Name</h3>
            <a href=@Model.LinkUrl target="_blank" alt="GridTestProject"
               title="GridTestProject"><img src=@Model.LinkImage id="project_item"></a>
            <p>@Model.Details</p>
           @* <a href="/Restaurant/Details/@">Return to the main listing</a>*@
            <a href="/Restaurant/Index">Return to the main listing</a>


        </div>
        </section>
</body>
</html>
