@model IEnumerable<RestaurantReview.Models.Review>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ReviewSummary</title>
    <link rel="stylesheet" type="text/css" href="~/style/Homestyle.css" />
</head>
<body>

    <h1>Reviews for this Restaurant</h1>
    <section>
        <div id="sampleProjects">


            @foreach (var review in Model)
            {
                <article>

                    <h3>@review.Creator</h3>
                    <p>@review.Comment</p>
                    <a href="/Restaurant/Details/@review.RestaurantId">Return to the main listing</a>

                </article>

            }
        </div>
    </section>
</body>
</html>
