@model IEnumerable<RestaurantReview.Models.Restaurant>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/style.Homestyle.css" rel="stylesheet" />
</head>
<body>
    <h1>Welcome to Restaurant Reviews!</h1>
    @foreach (var restaurant in Model)
    {
        <p>Title:<span>@restaurant.Name</span></p>
        <p>Review:<span>@restaurant.Details</span></p>
        <p>Id:<span>@restaurant.Id</span></p>
    }

</body>
</html>
